.dashboard-display-header {
  height: 58px;
  background-color: rgba(250, 250, 250, 1);
  color: black;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 10px -7px;
  padding-left: 27.35px;
  padding-right: 27.35px;
  font-weight: 700;
}

.register-display {
  height: 58px;
  color: black;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
  padding-left: 27.35px;
  padding-right: 27.35px;
}

.icons {
  gap: 13px;
}