.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-self {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.text-left {
    text-align: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.width-10 {
    width: 10%;
}

.width-15 {
    width: 15%;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-80 {
    width: 80%;
}

.width-100 {
    width: 100%;
}